{{template "base" .}}

{{define "title"}}
    Virtual terminal
{{end}}

{{define "content"}}
    <h1>Welcome to this virtual Terminal page</h1>
    
    <form>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="card-holder" class="form-label">Card holder</label>
            <input type="text" class="form-control" id="card-holder">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    


{{end}}
